<div class="call-to-action">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-9 col-sm-8">
                <div class="call_left text-left text-white wow fadeInLeft  animated" data-wow-delay="100ms"
                    data-wow-duration="1500ms"
                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInLeft;">
                    <h2 class="font-weight-normal mb-0">Innovative Products and Service for Construction Projects and
                        Automative Service.</h2>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-sm-4">
                <div class="d-flex justify-content-center justify-md-content-end fute" data-wow-delay="100ms"
                    data-wow-duration="1500ms">
                    <button mat-raised-button color="warn" class="hoverbtn text-uppercase">purchase Now</button>
                </div>
            </div>
        </div>
    </div>
</div>