<div class="banner">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="../../assets/image/h1-slider.jpg" class="w-100 d-block banner-img" alt="First slide" />
                <div class="carousel-caption caption1">
                    <h3 class="banner-title">For all Industrial Business</h3>
                    <p class="banner-description">
                        There are many variations of passagers of Lorem ipsum available but
                        the dummy majority have suffed dumm to alternation in some form by
                        injected dummet now.
                    </p>
                    <div class="button">
                        <button mat-raised-button color="warn" class="mat-large btn-title">
                            Our Services
                        </button>
                        <button mat-stroked-button color="warn" class="mat-large btn-title1">
                            Contact
                        </button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image/h2-slider.jpg" class="w-100 d-block banner-img" alt="Second slide" />
                <div class="carousel-caption caption2">
                    <h3 class="banner-title">For all Industrial Business</h3>
                    <p class="banner-description">
                        There are many variations of passagers of Lorem ipsum available but
                        the dummy majority have suffed dumm to alternation in some form by
                        injected dummet now.
                    </p>
                    <div class="button">
                        <button mat-raised-button color="warn" class="mat-large btn-title">
                            Our Services
                        </button>
                        <button mat-stroked-button color="warn" class="mat-large btn-title1">
                            Contact
                        </button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image/h3-slider.jpg" class="w-100 d-block banner-img" alt="Third slide" />
                <div class="carousel-caption caption3">
                    <h3 class="banner-title">For all Industrial Business</h3>
                    <p class="banner-description">
                        There are many variations of passagers of Lorem ipsum available but
                        the dummy majority have suffed dumm to alternation in some form by
                        injected dummet now.
                    </p>
                    <div class="button">
                        <button mat-raised-button color="warn" class="mat-large btn-title">
                            Our Services
                        </button>
                        <button mat-stroked-button color="warn" class="mat-large btn-title1">
                            Contact
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

