
<div class="video-section">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5">
                <div class="container inspiring">
                    <div class="small-ico d-flex">
                        <img src="assets/image/small-ico.png" class="small-ico-img" alt="" />
                        <div class="ico-inspiring">
                            <h4>Dream Big</h4>
                            <h3>Inspiring Solutions</h3>
                        </div>
                    </div>
                    <p class="inspiring-para">
                        There are many variations of passagers of Lorem ipsum available but
                        the dummy majority have suffed dumm to alternation in some form by
                        injected humour or randomised that words which don't look even
                        slitingly belivable.
                    </p>

                    <div class="sign">
                        <img src="assets/image/sign.png" alt="" />
                        <h3 class="sign-name">Mark Nicholes</h3>
                        <P class="sign-para">CEO & Founder</P>
                    </div>
                </div>
                <div class="overlay" data-bs-toggle="modal" data-bs-target="#videoModal">
                    <img src="assets/image/play-solid.svg" class="play-icon" alt="" />
                </div>
            </div>
            <div class="col-lg-7 p-0">
                <img src="assets/image/video-img.png" alt="" class="img-fluid video-img" />
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
                <div class="col">
                    <iframe class="video" src="https://www.youtube.com/embed/hnrpXxbVhME?si=f4fDAYeHnCaO2GHU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/your-video-id" frameborder="0" allowfullscreen></iframe> -->
        </div>
    </div>
</div>