<div class="technical-solutions">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <div class="block">
                    <div class="small-ico d-flex">
                        <img src="assets/image/small-ico.png" class="small-ico-img" alt="">
                        <div class="technicals">
                            <h4>Technical</h4>
                            <h3>Solutions</h3>
                        </div>
                    </div>
                    <div class="content">
                        <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered
                            alteration in that some form by injected humour or randomised words which don't look even
                            slightly believable.</p>
                    </div>
                    <div class="technical-solutions1">
                        <ul>
                            <li class="mb-2 md-0">There are many variations of dummy of Lorem Ipsum.</li>
                            <li class="mb-2 md-0">There are many variations of passages.</li>
                            <li class="mb-2 md-0">It’s are reeady variations at dummy ready.</li>
                            <li class="mb-2 md-0">That are many variations is passages text.</li>
                            <li class="mb-2 md-0">There are many variations of text.</li>
                        </ul>
                    </div>
                    <div class="technical-solutions-btn">
                        <button mat-raised-button color="warn" class="hoverbtn text-uppercase">Solutions <span>
                                <img src="/assets/image/left-arrow2024.png" alt="arrow image" class="arow" >
                               
                            </span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>